<!-- Creating the about page-->
{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="px-4 py-0 mt-5 text-center">
      <h1 class="display-5 fw-bold">Our Goal</h1>
      <div class="col-lg-6 mx-auto row justify-content-center">
        <p class="lead mb-2 pb-5">With this simple website, we hope to educate people about the biases within applicant tracking systems and how they can combat and overcome them.</p>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette align-items-center mb-4">
      <div class="col-md-6">
      <h2 class="featurette-heading">Applicant Tracking Systems. <span   class="text-muted">Automated tracking and rating of employee prospects.</span></h2>
      <p class="lead">Studies have shown that over 75% of employers use some form of software for the resume and applicant tracking. These softwares read through resumes looking for key words or phrases to identify worthy hires.</p>
      </div>
      <div class="col-md-6">
       <img class ="img-thumbnail" src=static/images/resume_img.jpeg alt="Resume" width="600" height="400">
      </div>
     </div>
    <hr class="featurette-divider">

   <div class="row featurette align-items-center mb-4">
    <div class="col-md-6 order-md-2">
     <h2 class="featurette-heading">Design Bias Within Algorithms. <span class="text-muted">How computers become biased.</span></h2>
     <p class="lead">If the data used to 'teach' the algorithm has biases within it, the algorithm will inherit those biases and use them in it's decision-making.The more biased the inputs into an algorithm are, the more biased the algorithm becomes. Left unchecked, it will become more biased as it recognises it's own patterns. Find out more about AI biases <a href="https://research.aimultiple.com/ai-bias/">here.</a></p>
    </div>
      <div class="col-md-6 order-md-1">
        <img class="img-thumbnail" src=static/images/thumbsup_img.jpeg alt="Resume" width="600" height="400">
      </div>  
   </div>
   <hr class="featurette-divider">
   <div class="row featurette align-items-center mb-4">
    <div class="col-md-6">
    <h2 class="featurette-heading">What this means for you. <span class="text-muted">How the two come together.</span></h2>
    <p class="lead"> Resume writing has become more about convincing a machine that you are worth hiring than a manager. This means that focusing on key word selection is more important than ever. Find out how to write your resumes to convince applicant tracking systems <a href="/tips">here.</a></p>
    </div>
    <div class="col-md-6">
     <img class ="img-thumbnail" src=static/images/resume_img.jpeg alt="Resume" width="600" height="400">
    </div>
   </div>
{% endblock %}
