<!-- Creating the profile page -->
{% extends 'base.html' %}

{% block header %}
    <!-- Creating the user name and avatar segment-->
    <div class="row featurette align-items-center mb-4 justify-content-center">
        <div class="row container col-md-4 pl-5 justify-content-center">
            <div class="col-md-4">
                <img src="{{ user.avatar(128) }}">
               </div>
            <div class="col-md-6">
                <h1>User: {{ user.name }}</h1>
            </div>
        </div>
    </div>
    <!-- Creating their basic information segment-->
    <div class="row featurette align-items-center mb-4 justify-content-center">
        <div class="row container col-md-4 pl-5">
            <div class="col-md-4">
                <h2>Gender: {{user.gender }}</h2>
            </div>
            <div class="col-md-4">
                <h2>Date of Birth: {{user.birthdate }}</h2>
            </div>
            <div class="col-md-4">
                <h2>Area of Expertise: {{user.area_of_expertise }}</h2>
            </div>
        </div>
    </div>

        

    
            
{% endblock %}

{% block content %}
<!-- Loading a list of the user's resumes-->
    <div class="row featurette align-items-center justify-content-center">
        <div class="row container col-md-3 pl-5 justify-content-center">
            <h3>Below are your resumes.</h3>
        </div>
    </div>
    {% for resume in resume %}
        <div class="col-md-3 mb-0 mt-1 mx-auto">
            <div class="card">
                <h4 class="card-title">{{ resume.resumename }}</h4>
                <h5 class="card-text card-overflow">Expertise: {{ resume.area_of_expertise }}</h5>
                <a href="{{ url_for('main.resume',user_id=user.user_id,resume_id=resume.resume_id) }}" class="stretched-link"></a>
              </div>
            </div>                         
          </div>
    {% endfor %}

               
{% endblock %}
