{% extends 'base.html' %}

{% block header %}
<div class="row featurette align-items-center mb-1 justify-content-center">
    <div class="row container col-md-3 pl-5 justify-content-center">
        <h1>{{resume.resumename}}</h1>
    </div>
</div>
<hr>    
<div class="row featurette align-items-center mb-4 justify-content-center">
    <div class="row container col-md-3 pl-5 justify-content-center">
        <h3>Uploaded by {{user.name}}</h3>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="row featurette align-items-center mb-4 justify-content-center">
    <div class="row container col-md-6 pl-5 justify-content-center">
        <embed src={{resume.resumecontents}} width="800px" height="2100px" />
    </div>
</div>
    
{% endblock %}