{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
      <div class="px-0 py-0 my-5 text-center">
        <h1 class="display-5 fw-bold">Resume Writing Tips</h1>
        <div class="col-lg-6 mx-auto row justify-content-center">
          <p class="lead mb-4">Below are some helpful tips to consider when writing your resume.</p>
          <hr width="800px";>
        </div>
        </div>
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <div class= "container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-4">
        <div class="col d-flex align-items-start">
          <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
          <div>
            <h4 class="fw-bold mb-0">Use relevant keywords</h4>
            <p>Ensure that throughout your resume you are using key words that are relevant to the job you are applying for. Applicant tracking systems often rely heavily on key word searches to identify candidates to get reviewed by management.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
         <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
         <div>
           <h4 class="fw-bold mb-0">Use keywords to highlight experiences</h4>
           <p>When an applicant tracking system flags a potential candidate, it will show management where it detected the keywords. By having your relevant experiences connected to the keywords, you will have a better chance of management reading them.</p>
         </div>
        </div>
        <div class="col d-flex align-items-start">
          <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
          <div>
            <h4 class="fw-bold mb-0">Keep it simple</h4>
            <p>Technical jargon will not often be listed within an applicant tracking systems keywords to search for. By keeping your terminology simple, you're not only making it easier for a human to read, but also an AI.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
         <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
         <div>
           <h4 class="fw-bold mb-0">Do not use acronyms</h4>
           <p>This tip is very similar to keeping it simple. Applicant tracking systems often search for key words within a resume, but only rarely will they be calibrated to search for acronyms. To deal with this, define your acronyms when you must use them, as this will make it more clear for humans and applicant tracking systems.</p>
         </div>
        </div>
        <div class="col d-flex align-items-start">
          <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
          <div>
            <h4 class="fw-bold mb-0">Use the correct file type</h4>
            <p>If a business asks for a certain file type when submitting your resume online, make sure you use it. If you cannot, use .pdf or .docx documents, as they are the most commonly used. If you send an incompatible file type, they will be unable to process your resume.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
         <img class ="img-thumbnail me-4" src=static/images/check2-square.svg alt="check2-square" width="50" height="50">
         <div>
           <h4 class="fw-bold mb-0">Keep it as business related as possible</h4>
           <p>While showing your personal experiences may show good work ethic and leadership skills, be sure to limit these instances. Applicant tracking systems can develop biases based on previously accepted or rejected applicants. This means you could be blacklisted for something completely normal, just because the system has noticed people that have similar interests have failed the test before.</p>
         </div>
        </div>
    
    </div>
{% endblock %}
